# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution
build/
dist/
*.egg-info/ 

# extra
sample_labs.py